/**
 * Menu App CSS
 */
 
.menu {
	width:12em;
}
.menu ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0pt;
	padding:0pt;
}
.menu a, .menu h2, .menu  .current, .menu  .parent  {
	border-color:#CCCCCC rgb(136, 136, 136) rgb(85, 85, 85) rgb(187, 187, 187);
	border-style:solid;
	border-width:1px;
	display:block;
	font-family:arial,helvetica,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:16px;
	margin:0pt;
	padding:2px 3px;
}
.menu h2 {
	background:#003d4c none repeat scroll 0%;
	color:#FFFFFF;
	text-transform:uppercase;
}
.menu a, .menu  .current, .menu  .parent   {
	background:#EFEFEF none repeat scroll 0%;
	color:#000000;
	text-decoration:none;
}
.menu a:hover, .menu  .current, .menu .parent:hover  {
	background:#FFFFFF none repeat scroll 0%;
	color:#AA0000;
}
.menu li {
	position:relative;
	padding:0; margin: 0;
}
.menu ul ul ul {
	left:100%;
	position:absolute;
	top:0pt;
	width:100%;
}
div.menu ul ul ul, div.menu ul ul li:hover ul ul {
	display:none;
}
div.menu ul ul li:hover ul, div.menu ul ul ul li:hover ul {
	display:block;
}